// colors

$black: #000
$white: #fff

$black2: #202025
$black3: #3A3A49

$ui-gray: #f3f3f3
$border-gray: #ddd

$mta-blue: #0E61A9


// measurements

$content-padding: 1em


=rounded($radius: .25em)
  border-radius: $radius

=rounded-left($radius: .25em)
  border-top-left-radius: $radius
  border-bottom-left-radius: $radius
  border-top-right-radius: 0
  border-bottom-right-radius: 0

=rounded-right($radius: .25em)
  border-top-right-radius: $radius
  border-bottom-right-radius: $radius
  border-top-left-radius: 0
  border-bottom-left-radius: 0