// IMPORTS

@use "normalize" as *
@use "helpers" as *

@layer base 
  // basic html
  body, html
    font-family: Helvetica, Arial, sans-serif
    font-size: 16px
    width: 100vw
    +mq($six)
      font-size: 14px

  body
    min-height: 100dvh!important
    position: relative
    color: $black
    overflow-x: hidden
    &.google-translate-active
      top: 0!important
      padding-top: $google-translate-bar-height
      min-height: calc(100dvh - $google-translate-bar-height)!important
    *
      box-sizing: border-box
    +mq($sidebar-switch)
      font-size: 14px
    +mq($nine)
      font-size: 16px

  a
    color: $black
    text-decoration: underline
    display: inline-block
    &:hover
      color: $original-mta-blue
      text-decoration: none

  strong, bold, b
    font-weight: bold

  h1, h2, h3, h4, h5, h6
    font-weight: bold
    font-size: 1rem
    margin: 0
    padding: 0
    // a
    //   font-size: inherit
    //   color: inherit
      
  h4
    .card &, .inner-card &
      font-size: .875rem
      font-weight: bold
      margin: 0 0 .75rem 0

  p
    margin: 0 0 1rem 0
    padding: 0
    line-height: 1.4
      
  ul
    &:not(.menu):not(.card-details):not(.route-stops):not(.approaching-buses):not([role="listbox"]):not(.breadcrumb):not(.map-legend):not(.stop-routes)
      list-style: none
      padding: 0
      margin: 1rem 0
      >li
        margin: 0 0 .5rem 0
        padding: 0 0 0 .75rem
        position: relative
        &:first-child
          padding-top:0 !important
        &::before
          content: "■"
          display: inline-block
          font-size: .375rem
          position: absolute
          left: 0
          top: .875rem
        ul.links
          display: inline-flex
          gap: .75rem
          margin: 0 0 0 .5rem
          li
            padding: 0
            margin: 0
            &::before
              content: none     
            a
              +yellow-bottom-focus-dark

  button, .button
    font-size: 1rem
    vertical-align: middle
    text-decoration: none
    color: currentColor
    &:hover
      cursor: pointer
      text-decoration: underline

  .button
    font-weight: bold
    padding: $content-padding
    +rounded
    color: $original-mta-blue
    background-color: $white
    border: $medium-border solid currentColor
    outline: none
    line-height: 1
    &.icon-button-left
      padding-left: #{$content-padding*.625}
      .icon
        margin-right: .5rem
    &.icon-only
      padding: calc($content-padding - .25rem)
      .svg-icon-wrap
        width: 1.25rem
        height: 1.25rem
        color: currentColor
    &:not(#map-toggle):not(.refresh-button)
      &:focus, &:focus-visible
        color: $white
        outline: $medium-border solid $original-mta-yellow
        background-color: $black

  .clear-button
    border: none
    outline: none
    background: transparent
    color: currentColor
    &::after, &::before
      content: none!important
      display: none!important

  .small-link
    font-size: .75rem
    text-decoration: underline!important
    color: $black3!important
    padding: 0px!important
    &:hover
      text-decoration: none!important
    &:focus
      font-weight: bold!important

  .svg-icon-wrap
    width: 1.125rem
    height: 1.125rem
    display: inline-block
    vertical-align: middle
    margin: 0
    padding: 0
    svg
      width: 100%
      height: 100%
      fill: currentColor
      stroke: none
      stroke-width: 0
      margin: 0
      padding: 0
      .blue
        fill: $original-mta-blue
      .yellow
        fill: $original-mta-yellow
      .white
        fill: $white
      .black
        fill: $black
        &.always-black
          fill: $black!important

  // shared menu styles

  .visually-hidden
    position: absolute
    width: 1px
    height: 1px
    margin: -1px
    padding: 0
    overflow: hidden
    clip: rect(0, 0, 0, 0)
    border: 0

  .icon-menu
    list-style: none
    padding: 0
    margin: 0
    color: $original-mta-blue
    border-top: 1px solid $original-mta-blue
    li
      // display: flex
      // gap: .5rem
      margin: 0
      padding: 0
      border-bottom: 1px solid $original-mta-blue
      // position: relative
      a
        text-decoration: none
      a, button:not(.button)
        color: currentColor
        display: flex
        width: 100%
        padding: 1rem .25rem 1rem .5rem
        gap: .5rem
        flex-grow: 1
        align-itrems: center
        transition: color .25s ease-in-out, background-color .25s ease-in-out, padding-left .25s ease-in-out
        border: none
        outline: none
        background: transparent
        .label
          flex-grow: 1
          text-align: left
          line-height: 1.25
        &::after
          background-image: url(../img/icon/right-caret_blue.svg)
    >li
      position: relative
      background-color: transparent
      transition: background-color .125s ease-in-out
      .svg-icon-wrap
        svg
          transition: fill .125s ease-in-out
          *
            transition: fill .125s ease-in-out
      >a, >button
        border: 0px solid
        transition: color .25s ease-in-out, background-color .25s ease-in-out, padding-left .25s ease-in-out, border-bottom .25s ease-in-out
        &:focus
          background-color: $black
          color: $white
          padding-left: .5rem
          .svg-icon-wrap
            svg, path
              fill: $white
            .blue
              fill: $white
            .yellow
              fill: $original-mta-yellow
          &::after
            background-image: url(../img/icon/right-caret_white.svg)
          &:hover
            color: $white
            text-decoration: underline
            .label
              text-decoration: underline
        &:hover
          .label
            text-decoration: underline
      .sub-menu
        height: auto
        max-height: 0
        overflow: hidden
        background-color: $white
        transition: max-height .5s ease-in-out, margin .25s ease-in-out
        list-style: none
        margin: 0 .5rem
        padding: 0 $content-padding
        border-bottom-width: 0
        li
          a, button
            padding-right: 0
            padding-left: 0
            &::after
              position: relative
              left: 0
              transition: left .25s ease-in-out
            &:hover
              .label
                text-decoration: underline
                color: $black2
              &::after
                left: .25rem
            &:focus
              background-color: $black
              color: $white
              padding-left: .5rem
              .label
                color: $white
              .svg-icon-wrap
                svg, path
                  fill: $white
                .blue
                  fill: $white
                .yellow
                  fill: $original-mta-yellow
          &:last-child
            border-bottom: none
        &#favorites-menu
          .label
            font-size: .875rem
          .remove-favorite
            margin-bottom: $content-padding
          .favorite-route
            .label
              border-left: $thick-border solid
              padding-left: .5rem
          .favorite-stop
            +icon-before
            gap:  .25rem
            &::before
              width: 1.3rem
              height: 1.3rem
              background-image: url(../img/icon/bus-stop.svg)
          .no-favorites
            padding: $content-padding 0
            line-height: 1.4
      &.open
        background-color: $original-mta-blue
        >a, >button
          color: $white
          position: relative
          z-index: 1
          border-bottom: $thick-border solid $original-mta-yellow
          &::after
            background-image: url(../img/icon/right-caret_white.svg)
          .svg-icon-wrap
            svg
              transition: fill .125s ease-in-out
              *
                transition: fill .125s ease-in-out
              .blue
                fill: $white
          .sub-menu
            padding: calc($content-padding / 2) $content-padding
            max-height: 200dvh
            opacity: 1
            border-bottom: solid $original-mta-blue
            border-top: solid $original-mta-blue
            border-bottom-width: calc($content-padding / 2)
            border-top-width: calc($content-padding / 2)
        & + li.open
          &::before
            content: ''
            position: absolute
            top: -1px
            right: calc($content-padding/-2)
            left: calc($content-padding/-2)
            background-color: $ui-gray
            height: 1px
        .sub-menu
          margin: .5rem
    &.refresh-menu
      +mq-reverse($sidebar-switch)
        display: none
    .card &
      font-size: .875rem
      li
        &:last-child
          border-bottom: none
    &.inner-card-menu, &.sub-menu-menu
      border-top: 1px solid $border-gray
      li
        border-bottom: 1px solid $border-gray
        button
          color: $dark-gray
          .svg-icon-wrap
            svg
              path
                fill: $dark-gray
          &:focus-visible
            color: $white
            .svg-icon-wrap
              svg
                path
                  fill: $white
    &.sub-menu-menu
      font-size: .75rem
      li
        button, a
          padding-right: .25rem
          padding-left: .5rem

  //
    
  // basic layout

  .main-body
    width: 100%
    height: 100%
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    overflow: hidden
    display: flex
    flex-wrap: nowrap
    align-itrems: stretch
    &.no-map
      flex-direction: column
      background-color: $ui-gray
      height: auto
      width: 100vw
      position: relative
      flex-grow: 1
      min-height: 100dvh
      h1
        font-size: 2rem
        margin: 0 0 .5rem 0
      h2
        font-size: 1.5rem
        margin: 0 0 .5rem 0
        &:not(:first-child)
          margin-top: 1rem
        #app &
          font-size: 1rem
      h3
        font-size: 1.25rem
        margin: 0 0 .5rem 0
        &:not(first-child)
          margin-top: 1rem      
      h4
        &:not(first-child)
          margin-top: 1rem
      table
        text-align: left
        vertical-align: middle
        border-spacing: 1px
        background: $border-gray
        margin: 0 0 1rem 0
        td, th
          padding: .5rem
          background: $white
      .main-content
        padding: $content-padding
        max-width: $content-max-width
        flex-grow: 1
      .page-content
        background-color: $white
        padding: $content-padding
        p, ul, ol, h1, h2, h3, h4, h5, h6
          color: $black2
          line-height: 1.4
          a
            font-weight: bold
        ul, ol
          padding: 0px
          margin-left: 1rem!important
          ul, ol
            margin: 1rem 0
        code
          font-size: .875rem
          background-color: $ui-gray
          padding: .125rem .5rem
          border: 1px solid $white
        pre
          white-space: normal
          background-color: $ui-gray
          padding: .5rem
          overflow-x: scroll 
          code
            white-space: pre
            padding: 0
            background: transparent
            border: none
        img
          border: 1px solid $border-gray
        .bustime-thumb
          max-width: 50%
          float: right
          width: 24rem
          margin-left: $content-padding
        .buttons
          margin-top: $content-padding
          display: flex
          flex-wrap: wrap
          gap: $content-padding
        &:first-child
          margin-top: 0
      .content-and-toc
        display: flex
        flex-wrap: nowrap
        flex-direction: row-reverse
        position: relative
        gap: $content-padding
        margin-right: 0
        #toc
          position: static
          flex-basis: 12rem
          flex-grow: 0
          flex-shrink: 0
          opacity: 1
          z-index: 1
          .toc-header
            font-size: 1rem
          .toc-menu
            font-size: .875rem
          a
            text-decoration: none
            color: $dark-gray
            display: block
            padding: .3125rem 0
            &:hover
              text-decoration: underline
              color: $black
            &.active
              font-weight: bold
          ul
            list-style: none
            margin: 0
            padding: 0
            li
              margin: 0
              padding: 0
            ul
              margin: 0 0 .0625rem .5rem
              a
                padding: .25rem 0
        .content
          flex-grow: 1
          display: flex
          flex-wrap: nowrap
          flex-direction: column
          gap: $content-padding
          overflow: hidden
          .page-content
            flex-grow: 1
        #toc-toggle
          display: none
          position: absolute
          top: 0
          right: -#{$toc-toggle-size}
          border-radius: 0
          border: none
          background: transparent
          color: $black
          width: $toc-toggle-size
          height: $toc-toggle-size
          img
            width: 1.5rem
            height: 1.5rem
            display: block
            margin: 0
            padding: 0
          &:hover
            color: $original-mta-blue
            background-color: $white
          &:focus
            outline: none
            border: none
            border-radius: 0
            background-color: $black
            color: $white
      +mq-reverse($sidebar-switch) // no-map
        .header
          .header-inner
            flex-wrap: wrap
          nav
            display: block
            order: 3
            width: 100%
            font-size: .75rem
            // ul
            //   gap: .5rem
          .logo-link
            max-width: 70%
        h1
          font-size: 1.5rem
        h2
          font-size: 1.25rem
        h3
          font-size: 1.125rem
        .content-and-toc
          gap: 0
          margin-right: $toc-toggle-size
          #toc-toggle
            display: block
          #toc
            position: absolute
            right: 0
            top: 0
            opacity: 0
            max-width: 0
            overflow: hidden
            transition: max-width .25s ease-in-out, padding .25s ease-in-out, border .25s ease-in-out, box-shadow .25s ease-in-out, opacity .25s ease-in-out .25s
            background: $ui-gray
            border: 1px solid $black3
            border-right-width: 0
            border-left-width: 0
            padding: $content-padding 0
            box-shadow: 0px 0px 0px 0px rgba($black, 0)
            .toc-header, .toc-menu
              width: 12rem
            a
              color: $black2
            &.open
              opacity: 1
              max-width: 100%
              transition: max-width .25s ease-in-out, padding .25s ease-in-out, border .25s ease-in-out, box-shadow .25s ease-in-out, opacity .25s ease-in-out
              padding: $content-padding
              border-right-width: 1px
              border-left-width: 1px
              +card-shadow
        .page-content
          font-size: .875rem
          a, strong, bold, b, span, code
            word-break: break-word
          .button
            line-height: 1.2
          .bustime-thumb
            max-width: 100%
            float: none
            width: 100%
            margin-left: 0
            margin: $content-padding 0
          .buttons
            flex-direction: column
            gap: $content-padding
            align-itrems: stretch
            .button
              text-align: center
    .google-translate-active &
      top: $google-translate-bar-height
      height: calc(100% - $google-translate-bar-height)
  .beta-bar
    background-color: $black3
    color: $white
    display: flex
    align-itrems: stretch
    justify-content: space-between
    line-height: 1rem
    border-bottom: 1px solid $black
    strong
      display: inline-flex
      background-color: $original-mta-yellow
      color: $black
      padding: .5rem $content-padding
      font-size: 1.125rem
      align-itrems: center
      justify-content: center
    a
      font-size: .875rem
      color: currentColor
      text-decoration: underline
      display: inline-flex
      align-itrems: center
      gap: .5rem
      padding: .5rem $content-padding
      background-color: transparent
      transition: background-color .25s ease-in-out
      &::after
        content: ''
        display: inline-block
        width: 1rem
        height: 1rem
        background-size: auto 100%
        background-repeat: no-repeat
        background-position: center
        background-image: url(../img/icon/right-caret_white.svg)
        position: relative
        left: 0
        transition: left .25s ease-in-out
      &:hover, &:focus
        text-decoration: none
        &::after
          left: .125rem
      &:focus
        background-color: $black
        border: none
        outline: none
        
  .header
    background-color: $black2
    color: $white
    padding: $header-padding
    //border-bottom: .25rem solid $border-gray
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    align-itrems: flex-end
    gap: 1.75rem
    .header-main
      flex-grow: 1
      flex-shrink: 1
    .logo-link, .mta-logo-link
      margin: 0
      padding: 0
      position: relative
      //&::after
        //opacity: 0
        //transition: opacity .25s ease-in-out
        //content: ''
        //position: absolute
        //right: 0
        //bottom: -#{$thick-border}
        //left: 0
        //background-color: $original-mta-yellow
        //height: $thick-border
      &:hover
        .logo, .mta-logo
          opacity: .75
      &:focus
        outline: none
        border: none
        &::after
          opacity: 1
    .logo-link
      display: block
      width: 100%
      height: auto
      max-width: 100%
      .logo
        display: inline-block
        width: 100%
        height: auto
        max-width: $sidebar-width-narrow * .66
        margin: 0
        padding: 0
        opacity: 1
        transition: opacity .25s ease-in-out
    .mta-logo-link
      width: 1.875rem
      position: relative
      //top: .75rem
    nav
      display: none
    .menu
      display: flex
      flex-wrap: nowrap
      justify-content: flex-start
      gap: $content-padding
      font-size: .75rem
      line-height: 1
      list-style: none
      padding: 0
      margin: 0
      a
        color: $white
        text-decoration: none
        display: inline-block
        position: relative
        +yellow-bottom-focus
        &:hover
          color: $white
          text-decoration: underline
    .no-map &
      padding: 0
      .beta
        position: absolute
        color: $original-mta-yellow
        position: absolute
        top: calc($content-padding / 2)
      .header-inner
        display: flex
        flex-wrap: nowrap
        justify-content: space-between
        align-itrems: baseline
        width: 100%
        max-width: $content-max-width
        padding: $content-padding
        gap: $content-padding
        position: relative
      .logo-link
        width: 100%
        max-width: 19.375rem
        margin: 0
      .mta-logo-link
        //top: .5rem
        flex-shrink: 0
      .menu
        // gap: $content-padding
        justify-content: space-between
        gap: 0
        font-size: 1rem
        a.active
          font-weight: bold
    +mq($three)
      .no-map &
        .menu
          justify-content: flex-start
          gap: $content-padding
      .logo-link
        //margin: 0 0 .5rem 0
    +mq($sidebar-switch)
      .logo-link
        //margin: 0 0 .5rem 0
        .logo
          // max-width: 100%
      .mta-logo-link
        width: 2rem
      nav
        display: block
      .no-map &
        .beta
          top: $content-padding

  #sidebar
    width: 100%
    // background-color: $ui-gray
    background-color: $original-mta-blue
    overflow-y: scroll
    position: relative 
    z-index: 1
    display: inline-flex
    flex-direction: column
    align-itrems: stretch
    align-content: stretch
    height: calc(100dvh - #{$button-height + 2rem})
    transition: height .5s ease-in-out
    &.home
      height: 100dvh
    .google-translate-active &
      height: calc(100dvh - #{$button-height + 2rem} - $google-translate-bar-height)
      &.home
        height: calc(100dvh - $google-translate-bar-height)
    #search
      padding: $content-padding
      background: $original-mta-blue
      color: $white
      position: relative
      transition: top 0.25s ease-out
      input
        font-size: 1.125rem
        background-color: rgba($white, .1)
        border: 1px solid rgba($white, 0)
        outline: none
        padding: .5rem 2.25rem .5rem 2.25rem
        margin: 2px
        transition: border .25s ease-in-out, background-color .25s ease-in-out, color .25s ease-in-out
        font-weight: bold
        color: $white
        background-image: url("../img/icon/search_white.svg")
        background-size: 1rem auto
        background-position: left .5rem center
        background-repeat: no-repeat
        +rounded
        transition: border-radius .25s ease-in-out, background-color .25s ease-in-out
        width: 100%
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        &:hover
          border-color: $white
        &:focus
          +input-focused
        &::placeholder
          color: $white
          +mq-reverse($nine)
            font-size: .875rem
      .react-autosuggest__container
        &--open
          input
            +rounded-top
            +input-focused
            background-color: $ui-gray
            position: relative
            z-index: 1001
          & + #clear-search:hover
            border-bottom-right-radius: 0
      .react-autosuggest__suggestions-container
        position: absolute
        background-color: $white
        left: -1px
        right: -1px
        z-index: 1000
        +rounded-bottom
        opacity: 0
        box-shadow: 0px 0px 0px 0px rgba($black, 0)
        transition: opacity .25s ease-in-out .125s, box-shadow .25s ease-in-out
        border: 1px solid $original-mta-blue
        max-height: 50dvh
        overflow-y: auto
        .react-autosuggest__suggestions-list
          list-style: none
          color: $black
          margin: 0
          padding: 0
          .react-autosuggest__suggestion
            padding: .375rem .5rem
            background-color: transparent
            color: currentColor
            transition: background-color .25s ease-in-out, color .25s ease-in-out
            &--highlighted
              background-color: $black
              color: $white
              font-weight: bold
              cursor: pointer
        &--open
          opacity: 1
          box-shadow: 0px 0px 12px 0px rgba($black, 0.25)
      .search-box
        position: relative
        #clear-search
          position: absolute
          overflow: hidden
          top: 0
          right: 0
          bottom: 0
          height: 100%
          padding: 0 .5rem
          width: 2.25rem
          z-index: 1001
          opacity: 1
          transition: opacity .25s ease-in-out
          color: $ui-gray
          border-top-left-radius: 0
          border-bottom-left-radius: 0
          &:disabled
            width: 0
            opacity: 0
            padding-right: 0
            padding-left: 0
          &:hover
            color: $original-mta-yellow
            background: $black
          &:focus
            outline: 1px solid $original-mta-yellow
        &.is-focused
          #clear-search
            color: $dark-gray
            &:hover
              color: $original-mta-yellow
      .search-instructions 
        padding: 0
        background: $original-mta-blue
        color: $white
        overflow: hidden
        height: 30px
        max-height: 30px
        transition: max-height .25s ease-in-out
        display: flex
        flex-direction: column
        justify-content: flex-end
        p
          font-size: .75rem
          margin: 0
        &.hidden
          max-height: 0
    .sidebar-content
      flex: 1 0 0
      // overflow-x: hidden
      // overflow-y: auto
      display: inline-flex
      flex-direction: column
      align-itrems: stretch
      justify-content: space-between
      background-color: $ui-gray
      overscroll-behavior: none
      .content
        padding: $content-padding
        padding-bottom: 0
        flex: 1 0 0
        h2.cards-header
          font-weight: bold
      .footer
        padding: $content-padding
        padding-top: 0
        position: relative 
    +mq-reverse($sidebar-switch)
      #search
        &.scrolled
          position: sticky
          top: -200px
          z-index: 100
          .search-instructions
            max-height: 0px
        &.sticky
          top: 0
    +mq($sidebar-switch)
      box-shadow: .25rem .25rem .5rem 0 rgba($black, 0.25)
      width: $sidebar-width-narrow
      height: auto
      overflow-y: auto
      .sidebar-content
        overflow-x: hidden
        overflow-y: auto
      .google-translate-active &
        height: auto
    +mq($nine)
      width: $sidebar-width

  .breadcrumb
    list-style: none
    padding: 0
    margin: 0 0 calc($content-padding / 4) 0
    display: flex
    gap: .25rem
    line-height: 1
    li
      display: inline-block
      position: relative
      a
        text-decoration: none
        font-size: .875rem
        &:hover
          text-decoration: underline
      &::after
        content: ''
        display: inline-block
        width: .625rem
        height: .625rem
        background-size: auto 100%
        background-repeat: no-repeat
        background-position: center
        background-image: url(../img/icon/right-caret_black.svg)
        margin-left: .25rem


  .bottom-buttons
    width: 100vw
    background: $black2
    height: $bottom-buttons-height
    padding: $content-padding
    display: flex
    align-itrems: stretch
    justify-content: center
    gap: $content-padding
    transition: bottom .5s ease-out
    button
      border-color: transparent
      //padding-top: 0
      padding-bottom: 0
      display: inline-flex
      align-itrems: center
      justify-content: center
      min-height: $button-height
      .svg-icon-wrap
        flex-shrink: 0
      &#map-toggle
        flex-grow: 1
        +text-outline($white, .125rem)
        position: relative
        background-color: $ui-gray
        &::after
          position: absolute
          content: ''
          display: block
          width: 100%
          height: 100%
          background-image: url(../img/blank-map-bg.png)
          background-size: $sidebar-switch auto
          background-position: center
          top: 0
          left: 0
          z-index: 0
          opacity: 1
          transition: opacity .25s ease-in-out
        .label
          position: relative
          z-index: 1
        .hide-label
          display: none
        &:hover
          +text-outline($white, .0625rem)
          &::after
            opacity: .25
      &.refresh-button
        flex-grow: 0
        white-space: nowrap
      &:focus
        border-color: inherit
        outline: $medium-border solid $original-mta-yellow
    +mq($sidebar-switch)
      display: none

  #map-wrap
    flex: 1
    position: absolute
    z-index: 100
    width: 100vw
    height: 100dvh
    left: 0
    top: calc(100dvh - $bottom-buttons-height)
    transition: top .5s ease-in-out, height .5s ease-in-out
    flex-grow: 1
    display: flex
    flex-direction: column
    .google-translate-active &
      height: calc(100dvh - $google-translate-bar-height) 
      top: calc(100dvh - $bottom-buttons-height - $google-translate-bar-height)
    .bottom-buttons
      flex-grow: 0
    .map-legend
      position: absolute
      top: $bottom-buttons-height
      right: 0
      z-index: 1
      background-color: rgba($white, .625)
      list-style: none
      margin: 0
      padding: calc($content-padding / 2)
      display: flex
      flex-wrap: nowrap
      justify-content: center
      align-itrems: center
      gap: $content-padding
      font-size: .75rem
      line-height: 1
      transition: background-color .25s ease-in-out
      li
        display: inline-flex
        align-itrems: center
        justify-content: center
        gap: calc($content-padding / 4)
        &::before
          content: ''
          display: inline-block
          width: 2rem
          height: 2rem
          background-size: 51px 51px
          background-position: center
        &.real-time
          &::before
            background-image: url(../img/vehicle/vehicle-unknown.png)
        &.scheduled
          &::before
            background-image: url(../img/vehicle/scheduled/vehicle-unknown.png)
      &:hover
        background-color: rgba($white, 1)
    #map
      flex-grow: 1
      position: relative
      z-index: 0
    &.open
      top: 0
      #map-toggle
        .hide-label
          display: inline
    +mq-reverse($sidebar-switch)
      &.home
        top: 100dvh
        .bottom-buttons
          >*
            display: none
    +mq($sidebar-switch)
      position: relative  
      top: 0
      width: auto
      flex-grow: 1
      z-index: 0
      .google-translate-active &
        top: 0
      .map-legend
        top: 0
        

  #map
    width: 100vw
    height: calc(100dvh - $bottom-buttons-height)
    position: relative
    iframe
      position: relative
      z-index: 0
    +mq($sidebar-switch)
      width: auto
      height: 100%
    

  // shared object styles

  .collapse-trigger, .link-header
    +caret-toggle

  .link-header
    &::after
      position: relative
      left: 0
      rotate: (-90deg)
    &:hover, &:focus
      &::after
        left: .375rem

  .collapsible
    .collapse-content
      overflow: hidden
      transition: max-height .5s ease-in-out, margin .25s ease-in-out, padding .25s ease-in-out
      max-height: 0
    .card-header
      .svc-alert-icon
        position: relative
        left: 0
        opacity: 1
        width: 1.5rem
        height: 1.5rem
        margin-bottom: 0.25rem
        transition: opacity .25s ease-in-out, width .25s ease-in-out, position .25s ease-in-out
    &.open
      >.collapse-content
        max-height: none
      .card-footer
        opacity: 0
        max-height: 0
        padding-top: 0
        padding-bottom: 0
    &:not(.service-alert)
      &.open
        >.card-header
          .svc-alert-icon
            opacity: 0
            position: absolute
            left: -6rem
            width: 0px

  .service-alert 
    .card-header
      .svc-alert-icon
        width: 1.125rem
        height: 1.125rem

  .refresh-button
    overflow: hidden
    text-overflow: ellipsis
    // display: flex
    // gap: .5rem
    font-weight: bold
    .label
      display: flex
      flex-grow: 1
      gap: .5rem
      width: 100%
    .updated-at
      font-weight: normal
    .updated
      &:focus
        border-color: inherit
        outline: $medium-border solid $original-mta-yellow
    .bottom-buttons &
      display: inline-flex
      +mq-reverse($four)
        .updated
          display: none
      +mq-reverse(320px)
        .updated-at
          display: none

  .cards
    padding-bottom: $content-padding
    display: flex
    flex-direction: column
    gap: $content-padding
    &.toggle-cards
      &.hide
        display: none

  .cards-header, .error-header
    margin-bottom: $content-padding
    a.back-link
      text-decoration: none
      color: $original-mta-blue
      padding-left: 1.625rem
      position: relative
      &:hover, &:focus
        text-decoration: underline
      &::before
        content: ''
        display: inline-block
        width: 1.125rem
        height: 1.125rem
        background-size: auto 100%
        background-repeat: no-repeat
        background-position: center
        background-image: url(../img/icon/right-caret_blue.svg)
        transform: rotate(180deg)
        position: absolute
        left: 0
        top: 0

  .cards-header-toggle-group
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    margin-bottom: $content-padding
    .cards-header
      margin-bottom: 0
    
  .cards-header-toggle
    display: flex
    flex-wrap: nowrap
    list-style: none
    margin: 0
    padding: 0
    gap: 1rem
    .cards-toggle
      position: relative
      padding: 0
      border: none
      outline: none
      background: transparent
      color: $original-mta-blue
      &:not(:last-child)
        &::after
          content: ''
          position: absolute
          top: 50%
          right: -.5rem
          transform: translateY(-50%)
          display: inline-block
          width: 1px
          height: 1rem
          background-color: $black
      &.active
        font-weight: bold
        cursor: default
      &:focus
        color: $black
        text-decoration: underline
      &:not(.active)
        &:hover
          text-decoration: underline


  .card-title
    display: flex
    gap: .5rem
    flex-wrap: nowrap
    .icon
      width: auto
      height: 1.125rem

  .card, .inner-card
    width: 100%
    >.card-header
      width: 100%
      display: flex
      justify-content: space-between
      text-align: left
      line-height: 1.25
      position: relative
      overflow: hidden
      .label
        flex-grow: 1
      .no-scheduled-service
        display: inline-block
        margin-top: .25rem
    .card-details
      list-style: none
      display: flex
      flex-direction: column
      gap: .5rem
      margin: 0
      padding: calc($content-padding/2) calc($content-padding/4)
      font-size: 1rem
      .vehicle-info
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        gap: .5rem
      .stroller
        color: $dark-gray
      & + .card-menu
        border-bottom: 1px solid $original-mta-blue
        margin-bottom: $content-padding


  .card
    background-color: $white
    border: 1px solid $border-gray
    overflow: hidden
    +card-shadow
    >.card-header
      +card-pad
      background-color: transparent
      border: 0px transparent
      outline: 0px
      border-bottom: $thick-border solid
      border-color: $original-mta-blue
      font-size:1.115rem
      .card-title
        font-weight: bold
    .card-header
      &.collapse-trigger, &.link-header
        transition: background-color .25s ease-in-out, color .25s ease-in-out
        &:focus
          background-color: $color-mta-light-blue-2
          color: $black
          outline: none
          &::after
            background-image: url(../img/icon/right-caret_black.svg)
    >.card-content
      +card-pad-sides
    .card-footer
      background-color: $ui-gray
      padding: calc($content-padding / 2)
      font-size: .75rem
      max-height: 100vh
      transition: max-height .25s ease-in-out, opacity .25s ease-in-out, padding .25s ease-in-out
      .stop-routes
        margin: 0
        padding: 0
        list-style: none
        display: flex
        flex-direction: column
        gap: .25rem
        li
          margin: 0
          border-left: $medium-border solid $original-mta-blue
          padding-left: .5rem
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          line-height: 1
          .svg-icon-wrap
            width: 1rem
            height: 1rem
            margin-right: .25rem
            vertical-align: text-top

  .inner-card
    margin: 0
    font-size: .875rem
    border: none
    background: transparent
    .inner-card
      font-size: 1rem
    .card-header
      +card-pad
      border: none
      background: transparent
    &:not(.service-alert)
      >.card-header
        //padding-left: 0
        &:not(.collapse-trigger)
          padding-right: 0
      .card-header
        &.collapse-trigger
          &:focus
            padding-left: calc($content-padding / 2)
    &.service-alert
      // +rounded
      background-color: $ui-gray
      overflow: hidden
      .card-header
        font-size: 1rem
        font-weight: bold
        border: 1px solid $border-gray
        border-bottom: 0px solid $original-mta-yellow
        transition: border-bottom .25s ease-in-out
        &:focus
          border-top-color: $black
          border-right-color: $black
          border-left-color: $black
      .card-content
        border: 1px solid $border-gray
        border-top: 0px solid transparent
        padding: 0 $content-padding
        p
          &:first-child
            margin-top: $content-padding
            
      &.open
        .card-header
          border-bottom: $thick-border solid $original-mta-yellow
      &:last-child
        margin-bottom: calc($content-padding / 2)
      & + .inner-card-menu, & + .card-menu
        margin-top: calc($content-padding / 2)
    &.route-direction
      position: relative
      font-size: 1rem
      >.card-content
        padding-right: 0
        padding-left: 0
      &::before
        content: ''
        display: block
        width: 100%
        height: 1px
        background-color: $black
        position: absolute
        top: -1px
      .service-alert + &
        &::before
          display: none
      &.en-route
        >.card-header
          .label
            display: inline-block
          .card-title
            border-left: $thick-border solid $original-mta-blue
            padding-left: calc($content-padding / 2)
        
  .route-stops
    list-style: none
    margin: calc($content-padding / 2) 0 0 0
    padding: 0
    >li
      padding: 0 0 1rem 1.5rem
      position: relative
      &::before
        content: ''
        display: inline-block
        width: .66rem
        height: .66rem
        background-color: currentColor
        border-radius: 50%
        position: absolute
        left: .02rem
        top: .25rem
        transform: translateY(-1px)
        border: 2px solid $black
        z-index: 2
      &::after
        content: ''
        display: inline-block
        width: 2px
        background-color: $black
        height: 100%
        position: absolute
        left: .25rem
        top: .25rem
        transform: translateX(1px)
        z-index: 1
      &:last-child
        &::after
          display: none
      &.has-info
        font-weight: bold
    a
      text-decoration: none
      color:#000000
      &:hover, &:focus
        text-decoration: underline  
    .approaching-buses
      margin: .125rem 0 0 0
    
  .approaching-buses
    list-style: none
    padding: 0
    color: $black
    font-weight: normal
    a
      text-decoration: none
      color: currentColor
      &:hover, &:focus
        text-decoration: underline
    li
      display: flex
      flex-wrap: nowrap
      gap: .5rem
      padding: .5rem 0
      .bus
        width: 4.5rem
        flex-grow: 0
        flex-shrink: 0
        display: inline-flex
        color: $original-mta-blue
        &::before, &::after
          content: ''
          display: inline-block
          width: .875rem
          height: .875rem
          background-size: auto 100%
          background-repeat: no-repeat
          background-position: center
          margin-right: .25rem
          margin-top: .125rem
          background-image: url(../img/icon/bus.svg)
          transform: translateY(2px)
          order: -2
        &::after
          content: none
          order: -1
          background-image: url(../img/icon/stroller.svg)
        &.stroller-friendly
          &::after
            content: ''
      .bus-info
        flex-grow: 1
        display: inline-flex
        flex-direction: column
    .approaching
      color: $black3
      font-weight: bold
    .en-route &
      margin: 0 0 calc($content-padding / 2) 0

  .passengers
    display: flex
    gap: .5rem
    align-items: center

  .meeples
    display: inline-block
    line-height: 1
    margin-top: .25rem
    position: relative
    img
      width: 2.25rem
      height: 1rem
      position: relative
      z-index: 0
    &::after
      content: ''
      position: absolute
      z-index: 1
      width: 2.25rem
      height: 1rem
      top: 0
      left: 0
      background-image: url(../img/meeples/meeples-filled.png)
      background-size: auto 100%
      background-repeat: no-repeat
    @for $i from 1 through 9
      &-#{$i}
        &::after
          width: $i*25%

  .next-stops
    font-size: .875rem
    li
      display: flex
      flex-direction: column
    a
      font-weight: bold
    .stop-details
      color: $black

  // clearing leaflet styles
  .leaflet-container
    font-size: 1.125rem!important
    
  .map-popup, .leaflet-popup
    background-color: transparent
    padding: 0
    opacity: 1
    transition: opacity .25s ease-in-out
    margin-bottom: 1.8rem!important
    border: $content-padding*.25 solid rgba(0,0,0,.25)
    &.vehicle-popup
      margin-bottom: 2.25rem!important
    &::after
      content: ''
      width: 0
      height: 0
      border-left: 1rem solid transparent
      border-right: 1rem solid transparent
      border-top: 1rem solid rgba(0, 0, 0, .25)
      position: absolute
      bottom: -1.25rem
      left: 50%
      transform: translateX(-50%)
    .leaflet-popup-content-wrapper
      background: transparent
      color: $black
      box-shadow: none
      padding: 0
      border-radius: 0
      margin: 0
      //shadow for close button
      &::before
        content: ''
        width: 2.5rem
        height: 2.5rem
        background-color: rgba($black, .25)
        position: absolute
        top: -1.125rem
        right: -1.125rem
        border-radius: 50%
        z-index: -1
    .leaflet-popup-content, .popup-content
      display: flex
      flex-wrap: nowrap
      gap: .3rem
      background-color: $white
      line-height: 1
      padding: $content-padding
      margin: 0
      position: relative
      z-index: 2
      font-size: 1.125rem
      // todo: ideally we'd continue without minimum widths but this is on a tight timeline
      &:has(.popup-info .route, .popup-info .stop-code)
        min-width: 250px
      >.icon
        height: 2.5rem
        width: auto
      &::after
        content: ''
        width: 0
        height: 0
        border-left: .875rem solid transparent
        border-right: .875rem solid transparent
        border-top: .875rem solid $white
        position: absolute
        bottom: -.75rem
        left: 50%
        transform: translateX(-50%)
    .leaflet-popup-tip
      display: none
    a.leaflet-popup-close-button
      width: 2rem!important  
      height: 2rem!important
      padding: 0!important
      margin: 0
      position: absolute
      z-index: 2
      top: -1.125rem!important
      right: -1.125rem!important
      border-radius: 50%
      line-height: 0
      border: none
      // background: rgba(0, 0, 0, .25)!important
      border-radius: 50%
      >span
        text-indent: 1000px
        overflow: hidden
        background-color: $white
        display: block
        border-radius: 50%
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
      &::after
        content: ''
        background-image: url(../img/icon/close-circle.svg)
        background-size: 100% 100%
        position: absolute
        z-index: 3
        top: 1px
        right: 1px
        bottom: 1px
        left: 1px
        border-radius: 50%
        display: block
        text-align: center
    .popup-info
      display: inline-flex
      flex-direction: column
      gap: .3rem
      .route, .name
        font-weight: bold
      .route, .name, .vehicle, .stop-code
        display: inline-block
        // white-space: nowrap
      .view-full
        text-align: left
        font-size: 1rem
        color: $original-mta-blue
        padding: .65rem 0 0 0
        margin: .65rem 0 0 0
        border: none
        outline: none
        border-top: 1px solid currentColor
        background: transparent
        white-space: nowrap
    &.search-here-popup
      .leaflet-popup-content, .popup-content
        padding: calc($content-padding / 2)
      .button
        font-size: 1rem
      .leaflet-popup-content
        background: linear-gradient(to top, $white 0%, rgba($white,.8) 10%, rgba($white,.5) 100%)
      .search-here
        background-image: url(../img/icon/search_blue.svg)
        background-size: 1.25rem auto
        background-repeat: no-repeat
        background-position: .4375rem center
        padding: $content-padding*.875
        margin: 0
        padding-left: 2.25rem
        &:focus, &:focus-visible
          background-image: url(../img/icon/search_white.svg)
    &.no-close-button-popup
      a.leaflet-popup-close-button
        display: none
    .leaflet-popup-content-wrapper
      &::before
        content: none
    +mq($sidebar-switch)
      .popup-info
        .view-full
          display: none

  .text-note
    font-size: .875rem
    padding-top: $content-padding
    border-top: 1px solid $black

  // google translate sub-menu

  #google-translate
    padding: $content-padding 0
    .goog-te-gadget
      font-family: inherit
      font-size: .75rem!important
      line-height: 1
      color: inherit
      white-space: normal!important
      display: block
      align-items: baseline
      margin-left: .5rem
      .goog-te-combo
        margin: 0 0 $content-padding 0
        font-family: inherit
        background-color: $white
        font-size: 1.333333rem!important
        display: block
      >div
        flex-grow: 1
        max-width: 217.5px
        margin: 0 4px 0 4px!important
      >span
        color: inherit
        flex-grow: .5
        a
          font-size: 1rem
          font-weight: normal
          color: currentColor
          padding: 0
          margin: 0 0 0 .5rem
          display: inline-block
          img
            height: 1.2rem
            width: auto
            position: relative
            top: .12rem
            display: inline-block
          &:hover, &:focus
            text-decoration: underline
            color: $black

  #goog-gt-tt
    margin: 0px!important
    max-width: 80dvw!important
